extends layout

block content
  div.jumbotron.my-3
    h1.display-4 舟券評議会
    p.lead 舟券評議会はボートレース予想を保存できるサービスです。
    p.lead 予想詳細ページのURLを報せれば、予想に答えてくれるかも。
    h6 Twitter認証を利用しています
  if user
    div
      a(href="/titles/new").btn.btn-info 予想を作る
    - var hasTitle = titles.length > 0
    if hasTitle
      h3.my-3 あなたの作った予想一覧
      table.table
        tr
          th タイトル
          th 作成日時
        each title in titles
          tr
            td
              a(href=`/titles/${title.titleId}`) #{title.titleName}
            td #{title.formattedCreatedAt}
